/.idea/
/spring2-plugin/.m2repo/
/spring2-plugin/.mvn/
/*.iml
/spring2-plugin/target/
/vanilla-js-plugin/build/
/vue3-plugin/build/
/flutter-plugin/.dart_tool/
/flutter-plugin/build/
/flutter-plugin/pubspec.lock
/flutter-plugin/example/.dart_tool/
/flutter-plugin/example/build/
/flutter-plugin/example/pubspec.lock
/flutter-plugin/example/.flutter-plugins-dependencies
