/.idea/
/.vscode/
*.iml
*.log
*.out
*.err
Thumbs.db
.DS_Store

**/target/
**/.m2repo/
**/.gradle/
**/build/
**/node_modules/

**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.metadata
**/pubspec.lock
**/android/local.properties
**/android/.cxx/
**/android/captures/
**/ios/Pods/
**/macos/Pods/

/spring2-plugin/.mvn/
/flutter-plugin/example/emulator.out.log
/flutter-plugin/example/emulator.err.log
